.features-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--secondary-background-color);
}

.features-list__description {
  line-height: 1.71;
}

@media screen and (max-width: 767px) {
  .features-list__subtitle {
    text-align: center;
  }

  .features-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .features-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features-list__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
