.header {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--main-light-color);
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
}

.logo__text {
  color: var(--main-dark-color);
}

.logo__text--inverse {
  color: var(--main-light-color);
}

.nav-list {
  display: flex;
}

.nav-list__item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.nav-list__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.nav-list__link_active {
  color: var(--accent-color);

  &::after {
    position: absolute;
    bottom: 0;
    display: block;
    cursor: pointer;
    content: '';
    width: 100%;
    height: 4px;
    background-color: currentColor;
    border-radius: 2px;
  }
}

.contact-list {
  display: flex;
  margin-left: auto;
}

.contact-list__item:not(:last-child) {
  margin-right: 50px;
}

.contact-list__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact-list__icon {
  margin-right: 10px;
  fill: currentColor;
}
