.filtrs {
  display: flex;
  // margin-bottom: 50px;
}

.filtrs__button {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  background-color: var(--secondary-background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--main-light-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.projects-list {
  background-color: var(--main-light-color);
}

.projects-item {
  background-color: var(--main-light-color);
}

.projects-link {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.overlay {
  position: relative;
  overflow: hidden;
}

.projects-description {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translate(0, 100%);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-light-color);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .projects-link:hover &,
  .projects-link:focus & {
    transform: translate(0, 0);
  }
}

.projects-card-content {
  flex-grow: 1;
  padding: 20px 24px;
  border-left: 1px solid var(--projects-background-color);
  border-right: 1px solid var(--projects-background-color);
  border-bottom: 1px solid var(--projects-background-color);
}

.projects-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}

.projects-subtitle {
  font-size: 16px;
  line-height: 1.88;
}

@media screen and (max-width: 767px) {
  .filtrs {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 8px;
    margin-bottom: 40px;
    max-width: 435px;
  }

  .projects-list {
    background-color: var(--main-light-color);
  }

  .projects-item:not(:last-child) {
    margin-bottom: 30px;
  }

  .projects-description {
    padding: 77px 24px;
  }
}

@media screen and (min-width: 768px) {
  .filtrs {
    justify-content: center;
    margin-bottom: 30px;
  }

  .filtrs > .item:not(:last-child) {
    margin-right: 8px;
  }

  .projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .projects-item {
    max-width: 354px;
    flex-basis: calc((100% - 30px) / 2);
  }

  .projects-description {
    padding: 49px 24px 77px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .filtrs {
    margin-bottom: 50px;
  }

  .projects-item {
    max-width: 370px;
    flex-basis: calc((100% - 60px) / 3);
  }
}
