.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-description {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-field-message {
  margin-bottom: 20px;
}

.modal-form-input-description {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-color);
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid var(--accent-color);
    outline-width: 0;
  }
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--secondary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    border: 1px solid var(--accent-color);
    outline-width: 0;
  }
}

.modal-form-checkbox-description {
  display: flex;
  align-items: center;
  align-self: center;
  margin-bottom: 30px;
}

.modal-form-fake-checkbox {
  position: relative;
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  background-color: var(--main-light-color);
  border: 2px solid var(--secondary-color);
  border-radius: 2px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form-checkbox:focus + .modal-form-checkbox-description > & {
    border: 1px solid var(--accent-color);
  }

  .modal-form-checkbox:checked + .modal-form-checkbox-description > & {
    border: none;
    background-color: var(--accent-color);
  }

  .modal-form-checkbox:focus & {
    border: 2px solid var(--accent-color);
  }
}

.modal-form-fake-checkbox-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;

  .modal-form-checkbox:checked + .modal-form-checkbox-description & {
    opacity: 1;
  }
}

.link-agreement {
  color: var(--accent-color);
}

.modal-form-submit {
  align-self: center;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--main-light-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--background-button-color);
  }
}
