html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: var(--main-font-family), var(--secondary-font-family);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: var(--main-color);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input {
  padding: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
