:root {
  /* Fonts */
  --main-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;

  /* Colors */
  --main-dark-color: #000000;
  --main-light-color: #ffffff;
  --main-color: #757575;
  --secondary-color: #212121;
  --accent-color: #2196f3;
  --address-color: rgba(255, 255, 255, 0.6);

  --main-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --projects-background-color: #eeeeee;
  --background-button-color: #188ce8;

  --main-fill-color: #afb1b8;
}
